################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SAPS_EDocket_WebApp/.vs/SAPS_EDocket_WebApp
